{% extends 'base_transport.html.twig' %}

{% block title %}New TransMarquePneu{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau marque pneu</h1>

    {{ include('trans_marque_pneu/_form.html.twig') }}

    <a href="{{ path('trans_marque_pneu_index') }}" class="btn btn-primary btn-xs my-4">Revenir à la liste</a>
{% endblock %}
