$white: #FFFFFF;
$blue: #2a2185;
$darkBlue: #192B82;
$lightBlue: #E4F0FF;
$lightOrange:#FEEFD0;
$lightGreen:#E8FBF9;
$blueGrey:#445981;
$greyBlue:#99A4B8;
$textLightBlue: #6184FF;
$gradientBlue: linear-gradient(180deg, #3049CE 31.56%, #1D3195 100%);
$fondBody: #E5E5E5;
$orange: #FFCE5E;
$fontGreen:#1ECECC;
$fontOrange:#FEB307;
$red: #FF6760;
// font
$primarySize: 48.83px;
$primaryLineHeight: 57px;
$grey_input :#EFEFEF;