@use 'sass:math';
@use 'sass:map';

/* preload */


/*PRELOADING------------ */

.modal-dialog {
    width: 600px;
    margin: 100px auto;
}

#overlayer {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 88887000;
    background: #000;
    overflow: hidden !important;
    top: 0px;
    bottom: 0px;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 20000;
    border: 4px solid #Fff;
    top: 50%;
    left: 0%;
    -webkit-animation: loader 2s infinite ease;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    -webkit-animation: loader-inner 2s infinite ease-in;
    animation: loader-inner 2s infinite ease-in;
}

.unite {
    margin-left: 5px;
}

tbody tr td div {
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.5) !important;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    75% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}


/* fin preload*/

@import './responsive';
@import './variables';
@import './typography';
@import './base';
@import './Shared/nav.scss';
@import './Shared/admin.scss';
@import './Shared/modal.scss';
@import './Shared/badge.scss';
@import './Shared/chart.scss';