{% extends 'base_transport.html.twig' %}

{% block title %}New TransClientVoyageCarb{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau client voyage/carburant</h1>

    {{ include('trans_client_voyage_carb/_form.html.twig') }}

    <a href="{{ path('trans_client_voyage_carb_index') }}" class="btn btn-primary btn-xs">Revenir à la liste</a>
{% endblock %}
