{% extends 'base_transport.html.twig' %}

{% block title %}New TransReferencePneu{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau référence pneu</h1>

    {{ include('trans_reference_pneu/_form.html.twig') }}

    <a href="{{ path('trans_reference_pneu_index') }}" class="btn btn-primary btn-xs my-4">Revenir à la liste</a>
{% endblock %}
