<form method="post" action="{{ path('trans_code_designation_piece_delete', {'id': trans_code_designation_piece.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trans_code_designation_piece.id) }}">
    <button class="btn btn-danger btn-xs">Supprimer</button>
</form>
