{% extends 'base_transport.html.twig' %}

{% block title %}Edit TransCodeDesignationPiece{% endblock %}

{% block body %}
    <h1>Modifier 'code-designation'</h1>

    {{ include('trans_code_designation_piece/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="d-flex my-4">
        <a href="{{ path('trans_code_designation_piece_index') }}">Revenir à la liste</a>

         {{ include('trans_code_designation_piece/_delete_form.html.twig') }}
    </div>
{% endblock %}
